body
{
	
}
.card-body
{
	color: black;
}
.card
{
	background: none;
}
#jumbo
{
	margin-top: 70px;
	text-align:center;
	font-weight: 500;
	color: white;
}
.nav-link
{
	margin-right: 50px;
	margin-right: 50px;
}