body
{
	text-align:center;
}

.container
{
	margin-top: 5%;
}

li	
{
	list-style: none;
	padding-right: 40px;
}

.nav-link
{
	font-weight: 600;
	width: 100%;
	margin-right: 50px;
	text-align: center;
}

#cardfooter
{
	color: white;
	padding-top: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}

#nav
{
/*	text-align:left;*/
}

#collapsibleNavbar
{
	
}

.links
{
	padding-right: 2%;
	display: inline-block;
	font-weight: 800;
    font-size: 20px;
    color: black;
}