body
{
	
}
.card-body
{
	color: black;
}
.card
{
	background: none;
}
.nav-link
{
	width: 100%;
	text-align: center;
	color: black;
	font-weight: 600;
	margin-right: 50px;
}
#jumbo
{
	margin-top: 5%;
	text-align:center;
	font-weight: 500;
	color: white;
}