body
{
	height: 100vh;
}
.jumbotron
{
	text-align:center;
}
.nav-link
{
	width: 100%;
	text-align: center;
	color: black;
	font-weight: 600;
	margin-right: 50px;
}
#cardtitle
{
	text-align:center;
	color: white;
	font-weight: 400;
}
#cardfooter
{
	color: white;
	font-weight: 400;
	padding-top: 1%;
	text-align:center;
}

#form
{
	margin-top: 70px;
}

#formend
{
	text-align:center;
}