.jumbotron
{
	text-align:center;
}
.nav-link
{
	margin-right: 50px;
	margin-right: 50px;
}
#cardtitle
{
	text-align:center;
	color: white;
	font-weight: 400;
}
#cardfooter
{
	color: white;
	font-weight: 400;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align:center;
	height: 10px;
}

#form
{
	margin-top: 70px;
}

#formend
{
	text-align:center;
}