body
{
	text-align:center;
}

.container
{
	margin-top: 5%;
}

li	
{
	list-style: none;
}
.links
{
	margin-right: 1%;
}
.nav-link
{
	width: 100%;
	text-align: center;
	color: black;
	font-weight: 600;
	margin-right: 50px;
}
#cardfooter
{
	color: white;
	padding-top: 1%;
	margin-bottom: 1%;
	margin-top: 0;
}