body
{
	background: url("images/banner1.jpg") no-repeat fixed center;
	height: 100vh;
	background-size: cover;
	overflow: hidden;
}
.nav-link
{
	width: 100%;
	text-align: center;
	color: black;
	font-weight: 600;
	margin-right: 50px;
}
#div2
{
	margin-top: 70px;
}
.jumbotron
{
	background: none;
	margin-top: 15%;
}
#links
{
	margin-right: 10%;
	display: inline-block;
	font-weight: 800;
	font-size: 20px;
}
#linkul
{
	text-align: center;
	list-style-type: none;
}
#h1
{
	font-size:60px;
	color: black;
	font-weight: 600;
	text-align: center;
	text-shadow: 0 0 3px black;
}
#hr
{
	width: 100%;
}